.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 2rem 5rem rgba($color-black, 0.3);
    background-color: rgba($color-white-ish, 0.60);
    border-radius: .3rem;
    font-size: 1.6rem;
    padding: 6rem;
    padding-left: 9rem;

    transform: skewX(-12deg);

     @include respond(tab-port){
         width: 100%;
         padding: 4rem;
        padding-left: 7rem;
     }

     @include respond(phone){
        transform: skewX(0);
     }


    &__shape{
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%); // to work the element must bate floing

        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;

        @include respond(phone){
            transform: translateX(-3rem) skewX(0);
         }

    }

    &__img{
        height: 100%;
        transform: translateX(-16%) scale(1.4);
        transition: all .5s;
    }

    &__text{
        transform: skewX(12deg);

        @include respond(phone){
            transform: skewX(0);
         }
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        color: $color-white-ish;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);
        font-weight: 600;
    }

    &:hover &__img{
        transform: translateX(-16%) scale(1);
        filter: blur(.2rem) brightness(90%);
    }
}

